.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
