/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/ModalBox/ModalBox.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.ModalBox_wrapper__9NaiV {
    padding-top: 25%;
     margin:  0 auto;  
     width: 600px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 15px;
}

.ModalBox_btnwrapper__ZCCpL {
    display: flex;
    gap: 10px;
}

