/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/FormAuth/FormAuth.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.FormAuth_form__E07hd {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.FormAuth_input__K6wH3 {
    width: 340px;
}

.FormAuth_button__8BY0B {
    width: 340px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Logo/Logo.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Logo_logoWrapper__w_tMl {
    padding: 20px 0px 0px 20px;
}

.Logo_logo__NU4Nk {
    cursor: pointer;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Footer/Footer.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Footer_wrapper__znyEu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/RegistrPage/RegistrPage.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.RegistrPage_wrapper__xDii3 {
    color: black;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 354px;
}
