/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/AuthPage/AuthPage.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.AuthPage_wrapper__cnAS4 {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AuthPage_form__3ohaG {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.AuthPage_input__OedFZ {
    width: 300px;
    
}

.AuthPage_button__nlO9C {
    width: 300px;
}
