/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/AuthPage/AuthPage.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.AuthPage_wrapper__cnAS4 {
    color: black;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 326px;
}

.AuthPage_subtitle__Kjw_s {
    
    margin-bottom: 20px;
}

.AuthPage_form__3ohaG {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.AuthPage_input__OedFZ {
    width: 340px;
}

.AuthPage_button__nlO9C {
    color: inherit;
    width: 340px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Logo/Logo.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Logo_logoWrapper__w_tMl {
    padding: 20px 0px 0px 20px;
}

.Logo_logo__NU4Nk {
    cursor: pointer;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Footer/Footer.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Footer_wrapper__znyEu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
}
