.container {
    width: 400px;
    padding: 10px 25px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;
}
.title {
    font-size: 24px;
    line-height: 32px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description {
    display: flex;
    gap: 10px;
}

.interactive {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}