/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Basket/Basket.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Basket_wrapper__Avxtx {
    position: absolute;
    left: 550px;
    top: 120px;
    display: flex;
    width: 150px;
    height: 100px;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Posts/Posts.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Posts_postList___hCMv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Post/Post.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Post_container__3sBbc {
    width: 300px;
    padding: 10px 25px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;
}
.Post_title__CGr2J {
    font-size: 24px;
    line-height: 32px;
}

.Post_wrapper__BqnBi {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Post_description__jUAAu {
    display: flex;
    gap: 10px;
}

.Post_interactive__WvrJN {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_main__nw1Wk {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0 20px;
}


.page_mainContainer__HWWsc {
    position: relative;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
}

.page_title__po7na {
    justify-content: center;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
}

.page_subtitle__YBgxm {
    margin-bottom: 10px;
}




