/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Footer/Footer.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Footer_wrapper__znyEu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/UnAuthorize/UnAuthorize.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.UnAuthorize_wrapper__h4ZO_ {
    padding: 20px 20px 0px 0px;
    display: flex;
    gap: 10px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Logo/Logo.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Logo_logoWrapper__w_tMl {
    padding: 20px 0px 0px 20px;
}

.Logo_logo__NU4Nk {
    cursor: pointer;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Aythorize/Authorize.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Authorize_wrapper__TF_pZ {
    padding: 20px 20px 0px 0px;
    display: flex;
    gap: 10px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Header/Header.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__pXml_ {
    margin-bottom: 40px;
}

.Header_header__container__ceOrJ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header_logo__sUWiP {
    cursor: pointer;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Posts/Posts.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Posts_postList___hCMv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 600px; 
    overflow-y: auto;
}

.Posts_postList___hCMv::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

.Posts_container__KCK6W {
    width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;
}
.Posts_title__0dRvl {
    font-size: 18px;
    line-height: 24px;
}

.Posts_wrapper__FsUJA {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Posts_distanceWrapper__6wH5_ {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Posts_description__tsIt1 {
    display: flex;
    gap: 10px;
}

.Posts_interactive___5IqP {
   display: flex;
   gap: 20%; 
   align-items: center;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/Post/Post.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Post_container__3sBbc {
    width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;
}
.Post_title__CGr2J {
    font-size: 18px;
    line-height: 24px;
}

.Post_wrapper__BqnBi {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Post_distanceWrapper__djc07 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Post_description__jUAAu {
    display: flex;
    gap: 10px;
}

.Post_interactive__WvrJN {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_container__jZF7q {
    display: flex;
    flex-direction: column;
}

.page_main__nw1Wk {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 7%;
}

.page_mainContainer__HWWsc {
    position: relative;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
}

.page_title__po7na {
    justify-content: center;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
}

.page_subtitle__YBgxm {
    margin-bottom: 10px;
}




